<html>
{% load staticfiles %}

<head>
    <script src="{% static "js/jquery-1.12.2.min.js" %}" type="text/javascript"></script>
    <!--<script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script> -->

    <style>
    .float_center {
      float: right;

      position: relative;
      left: -50%;
      text-align: left;
    }
    .float_center > .child {
      position: relative;
      left: 50%;
    }
    </style>
</head>

<body>

    <div class="float_center">
        <pre class="child" id="price"></pre>
    </div>

    
    <script>
        $(function() {
            // Correctly decide between ws:// and wss://

            /*
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/chat/";

            var socket = new ReconnectingWebSocket(ws_path);
            */

            socket = new WebSocket("ws://" + window.location.host + "/chat/");

            socket.onmessage = function(e) {
                console.log(e);
                $("#price").text(e.data);

            };
            // Helpful debugging
            socket.onopen = function() {
                console.log("Connected to chat socket");
            };
            socket.onclose = function() {
                console.log("Disconnected from chat socket");
            }
        });
    </script>

</body>

</html>